<ion-content [fullscreen]="true">
  <ion-row class="ion-justify-content-center top-side">
    <ion-row class="header">
      <ion-col size="12" class="header-content">
        <img src="../../assets/img/logo/Logo com nome sem fundo.png" alt="LOGO" class="logo">
        <ion-button fill="clear">Início</ion-button>
        <ion-button fill="clear">Sobre</ion-button>
        <ion-button fill="clear">Serviços</ion-button>
        <ion-button fill="clear">Como funciona</ion-button>
        <ion-button fill="clear" class="side-right">Buscar cursos</ion-button>
        <ion-button fill="clear">Divulgue seu curso</ion-button>
        <ion-button fill="solid" color="transparent" class="button-open">Cadastre-se</ion-button>
      </ion-col>
    </ion-row>
    
    <ion-row class="content-in-topside">
      <ion-col size="12">
        <h1 class="ion-text-center">VÁRIOS CURSOS PRESENCIAIS PERTO DE VOCÊ</h1>
      </ion-col>
    </ion-row>
  </ion-row>
  
  <ion-row class="courses">
    <ion-row class="ion-justify-content-center ion-align-items-center area-search-courses">
      <div class="search-container">
        <ion-icon name="search-outline"></ion-icon>
        <input type="text" class="search-input" placeholder="Qual curso você procura?" />
      </div>
    </ion-row>

    <ion-row class="courses-premium">
      <ion-col size="12">
        <h1>Premium:</h1>
      </ion-col>
      <ion-col size="12">
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <ng-container *ngFor="let card of cards_premium">
              <div class="swiper-slide">
                <ion-card>
                  <img [src]="card.image" alt="Card image" />
                  <ion-card-header>
                    <ion-card-title>{{ card.title }}</ion-card-title>
                    <ion-card-subtitle>{{ card.institute }}</ion-card-subtitle>
                  </ion-card-header>
                  <ion-card-content>
                    <div class="rating">
                      <ng-container *ngFor="let star of [].constructor(card.rating); let i = index">
                        <ion-icon name="star" color="warning"></ion-icon>
                      </ng-container>
                    </div>
                    <div class="price">R{{ card.price | currency }}</div>
                  </ion-card-content>
                  <div class="box-premium ion-text-center">Premium</div>
                </ion-card>
              </div>
            </ng-container>
          </div>
        
          <!-- Botões de navegação -->
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-pagination"></div>
        </div>
        
      </ion-col>
    </ion-row>
    <ion-row class="courses-free">
      <ion-col size="12">
        <h1>Cursos:</h1>
      </ion-col>
      <ion-col size="12">
        <ion-row class="ion-justify-content-center">
          <ion-col size="2.5" *ngFor="let card of cards_free">
            <ion-card>
              <img [src]="card.image" alt="Card image" />
              <ion-card-header>
                <ion-card-title>{{ card.title }}</ion-card-title>
                <ion-card-subtitle>{{ card.institute }}</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                <div class="rating">
                  <ng-container *ngFor="let star of [].constructor(card.rating); let i = index">
                    <ion-icon name="star" color="warning"></ion-icon>
                  </ng-container>
                </div>
                <div class="price">R{{ card.price | currency }}</div>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-row>
  <ion-row class="bottom-side ion-justify-content-center">
    <ion-row class="footer-content">
      <ion-col size="12">
        <ion-row>
          <ion-col size="3">
            <h2>Empresa</h2>
            <a href="#">
              <p>Sobre</p>
            </a>
          </ion-col>
          <ion-col size="3">
            <h2>Comunidade</h2>
            <a href="#">
              <p>Desenvolvedores</p>
            </a>
            <a href="#">
              <p>Notícias</p>
            </a>
            <a href="#">
              <p>Marca</p>
            </a>
          </ion-col>
          <ion-col size="3">
            <h2>Links Uteis</h2>
            <a href="#">
              <p>Suporte</p>
            </a>
          </ion-col>
          <ion-col size="3">
            <h2>Politica</h2>
            <a href="#">
              <p>Termos</p>
            </a>
            <a href="#">
              <p>Privacidade</p>
            </a>
            <a href="#">
              <p>Informações da empresa</p>
            </a>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row class="footer-direct">
      <ion-col size="12" class="texts ion-text-center">
        <p> 2024 &copy; Todos os direitos reservados</p>
      </ion-col>
    </ion-row>
  </ion-row>
</ion-content>
