*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 1px solid red;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../../../assets/img/Fundotelalogincadastro.jpg');
    color: white;

    & .content{
        border-radius: 15px;
        width: 960px;
        height: 50%;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        backdrop-filter: blur(7px);
    }

    & .second-content{
        display: none;
    }
}