*{
    margin: 0;
    padding: 0;
    outline: 1px solid red;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    & .img-fundo{
        display: flex;
        position: absolute;
        width: 100vw;
        height: 100vh;
        z-index: -1;
    }
    
    & .first-content{
        display: flex;
        width: 150vh;
        height: 80vh;
        background-color: white;

        & .img-descricao{
            display: flex;
            position: absolute;
            width: 75vh;
            height: 80vh;
            // z-index: 1, -1;
        }

        & .first-column{
            position: relative;
            width: 75vh;
            background-image: linear-gradient(rgba(3, 40, 89, 0.803), rgba(3, 40, 89, 0.808));

            & .pelicula{
                position: absolute;
                background-image: linear-gradient(rgba(3, 40, 89, 0.803), rgba(3, 40, 89, 0.808));
                display: flex;
                width: 75vh;
                height: 80vh;
            }

            & .area a{
                position: absolute;
                margin: 2%;
                width: 20vh;
                color: white;
                text-decoration: underline;
               }

            & .destaque{
                position: absolute;
                display: flex;
                text-align: left;
                margin:25% 6% 2%;
                font-size: 2.5em;
                width: 40vh;
                color: white;
            }

            & .sub-destaque{
                // display: flex;
                margin: 55% 6% 0;
                width: 40vh;
                color: white;
            }
        }

        & .second-column{
            width: 75vh;
            background-color: white;

            & .titulo{
                display: flex;
                text-align: center;
                margin: 8% 0 5%;
                font-weight: bolder;
            }

            & .formulario{
                display: flex;
                width: 45vh;
                margin: 5% 20%;

                & p{
                    margin: 5% 0 2%;
                    font: 700;
                }

                & ion-input{
                    height: 0;
                    border-radius: 10px;
                    background-color: rgba(217, 217, 217, 1);
                }
            }

            & .finalizar{
                display: flex;
                text-align: center;

                & ion-checkbox{
                    display: flex;
                    margin: 2% 23vh;
                    width: 28vh;
                }

                & ion-button{
                    display: flex;
                    align-items: center;
                    margin: 2% 25vh;
                    --background: rgba(3, 40, 89, 1);
                    width: 170px;
                }

                & p{
                    color: rgba(28, 146, 146, 1);
                    font: 500;
                }

                & a{
                    text-decoration: none;
                    margin: 0% 5%;
                }
            }
        }
    }

    // Inicio Segunda div (login)
    & .second-content{
        display: flex;
        width: 150vh;
        height: 80vh;
        background-color: white;

        & .img-descricao{
            display: flex;
            position: absolute;
            width: 75vh;
            height: 80vh;
            // z-index: 1, -1;
        }

        & .first-column{
            position: relative;
            width: 75vh;
            background-image: linear-gradient(rgba(3, 40, 89, 0.803), rgba(3, 40, 89, 0.808));

            & .pelicula{
                position: absolute;
                background-image: linear-gradient(rgba(3, 40, 89, 0.803), rgba(3, 40, 89, 0.808));
                display: flex;
                width: 75vh;
                height: 80vh;
            }

            & .area a{
                position: absolute;
                margin: 2%;
                width: 20vh;
                color: white;
                text-decoration: underline;
               }

            & .destaque{
                position: absolute;
                display: flex;
                text-align: left;
                margin:25% 6% 2%;
                font-size: 2.5em;
                width: 40vh;
                color: white;
            }

            & .sub-destaque{
                // display: flex;
                margin: 65% 6% 0;
                width: 40vh;
                color: white;
            }
        }

        & .second-column{
            width: 75vh;
            background-color: white;

            & .titulo{
                display: flex;
                text-align: center;
                margin: 15% 0 5%;
                font-weight: bolder;
                font: 700;
                font-size: 1.8em;
            }

            & .formulario{
                display: flex;
                width: 45vh;
                margin: 5% 20%;

                & p{
                    margin: 5% 0 2%;
                    font: 700;
                }

                & ion-input{
                    border-radius: 10px;
                    background-color: rgba(217, 217, 217, 1);
                }
            }

            & .finalizar{
                display: flex;
                text-align: center;

                & ion-checkbox{
                    display: flex;
                    margin: 5% 23vh;
                    width: 28vh;
                }

                & ion-button{
                    display: flex;
                    align-items: center;
                    margin: 4% 25vh;
                    --background: rgba(3, 40, 89, 1);
                    width: 170px;
                }

                & p{
                    font: 500;
                }

                & a{
                    text-decoration: none;
                    color: rgba(28, 146, 146, 1);
                }
            }
        }
    }
}