<ion-content [fullscreen]="true">
  <div class="imagem-fundo">
    <ion-row>
      <ion-col>
        <h2 class="h2-login">Faça Login</h2>
        <ion-input type="email" placeholder="E-mail" class="ipt-login"></ion-input>
        <ion-input type="password" placeholder="Senha" class="ipt-login"></ion-input>
        <ion-checkbox class="check-login">Lembrar Senha</ion-checkbox>
        <a href="#" class="senha-login">Esqueceu a Senha?</a>
        <ion-button type="submit" class="btn-login">Entrar</ion-button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>