<ion-content>
  <div class="all">
    <ion-row class="header ion-justify-content-center">
      <ion-col size="12">
        <h1>LOGO</h1>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="8">
       <ion-row class="content">
      <ion-col size="6" class="side-left">
        <ion-row>
          <ion-col size="12" class="area-teacher">
            <h2 class="text-teacher">Área do Professor</h2>
          </ion-col>
          <ion-col size="12" class="area-calling">
            <ion-row>
              <ion-col size="12">     
               <h3 class="text-calling-st">Visibilidade Aumentada</h3>
              </ion-col>
              <ion-col size="12">   
               <p class="text-calling-sd">Você professor apaixonado por ensinar, agora pode alcançar novos patamares de sucesso e impacto com nossa plataforma dedicada a aulas presenciais. Aqui está como podemos ajudar você a brilhar</p>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
        </ion-col>
      <ion-col size="6" class="side-right">
          <ion-row class="ion-justify-content-center">
            <ion-col size="12" class="area-title-form">
              <h1 class="text-title-form ion-text-center">Faça seu login</h1>
            </ion-col>
            <ion-col size="8" class="area-input-form">
              <ion-input type="email" id="email" name="email" [(ngModel)]="user.email" placeholder="Email"></ion-input>
            </ion-col>
            <ion-col size="8" class="area-input-form">
              <ion-input type="password" id="password" name="senha" [(ngModel)]="user.senha" placeholder="Senha"></ion-input>
            </ion-col>
            <ion-col size="5" class="area-checkbox-form">
              <ion-checkbox [(ngModel)]="lembrarSenha" name="lembrarSenha" labelPlacement="end">Lembrar minha senha</ion-checkbox>
            </ion-col>
            <ion-col size="3" class="area-dontrememberPassword-form">
              <a href="#">Esqueceu a senha?</a>
            </ion-col>
            <ion-col size="8" class="area-create-form ion-text-center">
              <p>Não tem conta? <a href="#">Cadastre aqui</a></p>
            </ion-col>
            <ion-col size="5" class="area-button-form">
              <ion-button expand="full" shape="round" color="transparent" type="submit" (click)="logar()">Entrar</ion-button>
            </ion-col>
          </ion-row>
      </ion-col>
       </ion-row>
      </ion-col>
  </ion-row>
  </div>
</ion-content>