<ion-content [fullscreen]="true">
  <div class="all">
    <ion-row  class="nav">
      <ion-col size="12">
        <img src="../../../assets/img/logo.png" alt="logo" width="80px">
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="8" class="conteudo">
        <ion-row>
          <ion-col size="6" class="side-img">
            <img src="../../../assets/img/tela de cadastro professor.jpeg" alt="foto austronasta" width="160px">
          </ion-col>
          <ion-col size="6" class="side-forms">
            <form>
              <ion-row class="ion-justify-content-center">
                <ion-col size="12" class="ion-text-center text-main">
                  <h1>Dados cadastrais</h1>
                </ion-col>
                <ion-col size="12">
                  <ion-row class="ion-justify-content-center">
                    <ion-col size="8" class="ion-text-center"><ion-input placeholder="Digite seu Nome" type="text"></ion-input></ion-col>
                  </ion-row>
                </ion-col>
                <ion-col size="12">
                  <ion-row class="ion-justify-content-center">
                    <ion-col size="8" class="ion-text-center"><ion-input placeholder="Digite seu Sobrenome" type="text"></ion-input></ion-col>
                  </ion-row>
                </ion-col>
                <ion-col size="12">
                  <ion-row class="ion-justify-content-center">
                    <ion-col size="8" class="ion-text-center"><ion-input placeholder="Digite seu Email" type="email"></ion-input></ion-col>
                  </ion-row>
                </ion-col>
                <ion-col size="12">
                  <ion-row class="ion-justify-content-center">
                    <ion-col size="8" class="ion-text-center"><ion-input placeholder="Digite sua Senha" type="password"></ion-input></ion-col>
                  </ion-row>
                </ion-col>
                <ion-col size="12">
                  <ion-row class="ion-justify-content-center">
                    <ion-col size="8" class="ion-text-center"><ion-input placeholder="Digite seu CPF ou RG" type="text"></ion-input></ion-col>
                  </ion-row>
                </ion-col>
                <ion-col size="6">
                  <ion-button expand="block" shape="round" color="transparent">Cadastrar</ion-button>
                </ion-col>
              </ion-row>
            </form>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </div>
</ion-content>