    ion-content {
      --background: url('../../../../../assets/img/Tela-Login-Tutor/WhatsApp\ Image\ 2024-07-21\ at\ 22.30.32.jpeg') no-repeat center center/cover;
      position: relative;
      & .header{
        color: white;
        margin-left: 2%;
      }
      & .content{
        & .side-left{
          background: url('../../../../../assets/img/Tela-Login-Tutor/WhatsApp\ Image\ 2024-07-21\ at\ 22.20.05.png') no-repeat center center/cover;
          & .area-teacher{
            & .text-teacher{
              color: white;
              border-bottom: 2px solid white;
              width: 195px;
              margin-left: 5px;
            }
          }
          & .area-calling{
            & .text-calling-st{
              color: white;
              font-size: 2.7em;
              margin-top: 200px;
              margin-left: 5%;
            }
            & .text-calling-sd{
              font-size: 1.5em;
              color: white;
              margin-left: 5%;
            }
          }
        }
        & .side-right{
          background-color: rgba(3, 12, 21, 0.555);
          backdrop-filter: blur(5px); 
          & form{
            & .area-title-form{
              margin-top: 130px;
              & .text-title-form{
                font-size: 3.5em;
                color: white;
              }
            }
            & .area-input-form{
              margin-top: 15px;
              margin-bottom: 25px;
              & ion-input{
                --background: #c5c5c5;
                --color: white;
                --border-radius: 5px;
                height: 50px
              }
            }
            & .area-checkbox-form{
              color: white;
            }
            & .area-button-form{
              & ion-button{
                height: 40px;
                background-color: #032859;
                border-radius: 15px;
              }
            }
          }
        }
        margin-top: 3%;
        height: 70vh;
      }
    }
    // ion-content::after {
    //   content: '';
    //   position: absolute;
    //   top: 0;
    //   right: 0;
    //   bottom: 0;
    //   left: 0;
    //   background-color: #03285980;
    // }
    // .side-left::after{
    //   content: '';
    //   position: absolute;
    //   top: 0;
    //   right: 0;
    //   bottom: 0;
    //   left: 0;
    //   background-color: #03285960;
    // }