<ion-content [fullscreen]="true">
  <ion-row class="top-side">
    <ion-row class="header">
      <ion-col size="12">
        <img src="#" alt="LOGO" class="logo">
        <ion-button fill="clear">Início</ion-button>
        <ion-button fill="clear">Sobre</ion-button>
        <ion-button fill="clear">Serviços</ion-button>
        <ion-button fill="clear">Como funciona</ion-button>
        <ion-button fill="clear" class="side-right" color="light">Buscar cursos</ion-button>
        <ion-button fill="clear" color="light">Divulgue seu curso</ion-button>
        <ion-button fill="solid" color="transparent" class="button-open">Cadastre-se</ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="content-in-topside">
      <ion-col size="10" class="text-in-top-side">
        <h1>Descubra <br /> cursos <br /> presenciais <br /> de qualidade <br /> em nosso site <br /> e transforme
          <br /> seu futuro!</h1>
        <p>Descubra cursos presenciais de alta qualidade <br /> em nossa plataforma educacional <br /> com instrutores
          especializados e ambientes <br /> inspiradores para transformar suas habilidades.</p>
        <ion-button class="button-in-top-side">Começar</ion-button>
      </ion-col>
      <!-- <ion-col size="2" class="img-top-side">
        <img src="../../assets/img/Tela-Principal/homem-com-notebook.jpeg" alt="homem sentado com um notebook no colo" width="600px">
      </ion-col> -->
    </ion-row>
  </ion-row>
  <ion-row class="mid-side">
      <ion-row class="content-plans" size="12">
        <ion-col size="12">
          <ion-card class="fundo">
            <ion-card class="card">
              <h1 class="plan">PLUS</h1>
              <ion-button class="btn-card">Matricule-se</ion-button>
              <p class="p"><img src="../../assets/img/Tela-Principal/icon-plan.jpg"> Item</p>
              <p class="p"><img src="../../assets/img/Tela-Principal/icon-plan.jpg"> Item</p>
              <p class="p"><img src="../../assets/img/Tela-Principal/icon-plan.jpg"> Item</p>
            </ion-card>
            <ion-card class="card_ultra">
              <h1 class="plan">ULTRA</h1>
              <ion-button class="btn-card">Matricule-se</ion-button>
              <p class="p"><img src="../../assets/img/Tela-Principal/icon-plan.jpg"> Item</p>
              <p class="p"><img src="../../assets/img/Tela-Principal/icon-plan.jpg"> Item</p>
              <p class="p"><img src="../../assets/img/Tela-Principal/icon-plan.jpg"> Item</p>
              <p class="p"><img src="../../assets/img/Tela-Principal/icon-plan.jpg"> Item</p>
              <p class="p"><img src="../../assets/img/Tela-Principal/icon-plan.jpg"> Item</p>
            </ion-card>
            <ion-card class="card">
              <h1 class="plan">PRO</h1>
              <ion-button class="btn-card">Matricule-se</ion-button>
              <p class="p"><img src="../../assets/img/Tela-Principal/icon-plan.jpg"> Item</p>
              <p class="p"><img src="../../assets/img/Tela-Principal/icon-plan.jpg"> Item</p>
              <p class="p"><img src="../../assets/img/Tela-Principal/icon-plan.jpg"> Item</p>
            </ion-card>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row class="content-calling-people">
        <ion-col size="6" class="text">
          <p class="text-calling-people">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque assumenda,
            quod repudiandae cumque vitae non asperiores quibusdam consectetur doloribus saepe sit fuga vel fugiat neque
            enim dicta commodi sapiente beatae. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et dignissimos
            fugit vero minus accusantium quibusdam autem libero harum consequatur esse tempore veniam, magnam cupiditate
            atque optio fuga obcaecati officia in?</p>
        </ion-col>
        <ion-col size="6" class="img">
          <div class="background-color-img">
            <img src="../../assets/img/Tela-Principal/pessoa-escrevendo.jpeg"
              alt="pessoa com uma caneta na mão em frente de um computador">
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="content-calling-students">
        <ion-row>
          <ion-col size="12">
            <ion-card size="12" class="calling-card">
              <div class="image-container">
                <img src="../../assets/img/Tela-Principal/maos-mexendo-notebook.jpeg">
              </div>
            <ion-card class="call-card">
              <h2 class="title">Ainda não estuda com a gente?</h2>
              <p class="p">Matricule-se Agora</p>
              <ion-button class="btn-matricula">Fazer Matrícula</ion-button>
            </ion-card>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-row>
      <ion-row class="content-calling-teachers ion-justify-content-center">
        <ion-col size="10" class="texts ion-text-center">
          <h1>Vire Professor <br /> com a gente</h1>
          <p>Você, educador apaixonado, já imaginou <br /> ter uma plataforma que te conecta com <br />
            oportunidades incríveis de ensino, seja em <br /> escolas tradicionais ou no mundo online?.</p>
          <ion-button color="transparent">Fazer cadastro</ion-button>
        </ion-col>
        <ion-col size="1" class="img">
          <div class="background-color-img">
            <img src="../../assets/img/Tela-Principal/homem-com-livro.jpeg"
              alt="pessoa com livro na mão com uma pratilheira de livro na frente">
          </div>
        </ion-col>
      </ion-row>
  </ion-row>
    <ion-row class="bottom-side ion-justify-content-center">
      <ion-row class="footer-content">
        <ion-col size="12">
          <ion-row>
            <ion-col size="3">
              <h2>Empresa</h2>
              <a href="#">
                <p>Sobre</p>
              </a>
            </ion-col>
            <ion-col size="3">
              <h2>Comunidade</h2>
              <a href="#">
                <p>Desenvolvedores</p>
              </a>
              <a href="#">
                <p>Notícias</p>
              </a>
              <a href="#">
                <p>Marca</p>
              </a>
            </ion-col>
            <ion-col size="3">
              <h2>Links Uteis</h2>
              <a href="#">
                <p>Suporte</p>
              </a>
            </ion-col>
            <ion-col size="3">
              <h2>Politica</h2>
              <a href="#">
                <p>Termos</p>
              </a>
              <a href="#">
                <p>Privacidade</p>
              </a>
              <a href="#">
                <p>Informações da empresa</p>
              </a>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-row class="footer-direct">
        <ion-col size="12" class="texts ion-text-center">
          <p> 2024 &copy; Todos os direitos reservados</p>
        </ion-col>
      </ion-row>
  </ion-row>
</ion-content>