
<ion-content [fullscreen]="true">
  <ion-row class="top-side">
    <ion-row class="header">
      <ion-col size="12">
        <img src="#" alt="LOGO" class="logo">
        <ion-button fill="clear">Início</ion-button>
        <ion-button fill="clear">Sobre</ion-button>
        <ion-button fill="clear">Serviços</ion-button>
        <ion-button fill="clear">Como funciona?</ion-button>
        <ion-button fill="clear" class="side-right" color="light">Buscar cursos</ion-button>
        <ion-button fill="clear" color="light">Divulgue seu curso</ion-button>
        <ion-button fill="solid" color="transparent" class="button-open">Cadastre-se</ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="content-in-topside">
      <ion-col size="12" class="text-in-top-side">
        <h1>Descubra <br/> cursos <br/> presenciais <br/> de qualidade <br/> em nosso site <br/> e transforme <br/> seu futuro!</h1>
        <p>Descubra cursos presenciais de alta qualidade <br/> em nossa plataforma educacional <br/> com instrutores especializados e ambientes <br/> inspiradores para transformar suas habilidades.</p>
        <ion-button class="button-in-top-side">Começar</ion-button>
      </ion-col>
    </ion-row>
  </ion-row>
  <ion-row class="mid-side">
    <!-- Vai criando em cada linha que corresponde ao seu conteudo -->
    <ion-row class="content-plans"></ion-row>
    <ion-row class="content-calling-people">
      <ion-col size="6" class="text">
        <p class="text-calling-people">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque assumenda, quod repudiandae cumque vitae non asperiores quibusdam consectetur doloribus saepe sit fuga vel fugiat neque enim dicta commodi sapiente beatae. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et dignissimos fugit vero minus accusantium quibusdam autem libero harum consequatur esse tempore veniam, magnam cupiditate atque optio fuga obcaecati officia in?</p>
      </ion-col>
      <ion-col size="6" class="img">
        <div class="background-color-img">
          <img src="../../assets/img/Tela-Principal/pessoa-escrevendo.jpeg" alt="pessoa com uma caneta na mão em frente de um computador">
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="content-calling-students"></ion-row>
    <ion-row class="content-calling-teachers"></ion-row>
  </ion-row>
</ion-content>
