* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  // outline: 1px solid red; 
}

.top-side {
  background: linear-gradient(to right, #fff 50%, #032859 50%);
  height: 100vh;

  .header {
    margin-top: 20px;

    & img {
      margin-left: 50px;
      margin-right: 20px;
    }

    & ion-button {
      margin-left: 80px;
      font-size: 1em;
    }

    & .button-open {
      background-color: #79DCF2;
      border-radius: 15px;
      color: black;
      font-weight: bold;
    }
  }

  & .content-in-topside {
    & .text-in-top-side {
      margin-left: 140px;

      & h1 {
        font-size: 4em;
      }

      & p {
        margin-top: 20px;
        font-size: 1.4em;
        font-weight: bold;
      }

      & .button-in-top-side {
        margin-top: 30px;
        font-size: 1.5em;
        margin-left: 100px;
      }
    }

    // & .img-top-side{
    //   & img{ 

    //   }
    // }
  }
}

.mid-side {

  & .content-plans {

    display: flex;
    justify-content: center;
    align-items: center;

    & .p {
      text-align: start;
    }

    & .fundo {
      margin: 10vh;
      display: flex;
      background: #032859;
      width: 90vw;
      height: 45vw;
      border-radius: 20px;

      & .card {
        margin: 18% 5%;
        height: 50vh;
        width: 45vh;
        justify-content: center;
        align-items: center;
        border-radius: 10px;

        & .plan {
          text-align: center;
          color: black;
          font-weight: bold;
          font-size: 3em;
          margin: 8%;
          @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
          font-style: italic;
        }

        & .btn-card {
          height: 6vh;
          width: 25vh;
          margin: 5% 18%;
          --border-radius: 10px;
          --background: #032859;
          font-weight: bold;
          font-size: 1.2em;
          color: white;
        }

        & .p {
          display: flex;
          font-size: 1.5em;
          color: black;
          margin: 5%;
          font-weight: bolder;
          align-items: center;

          & img {
            width: 35px;
            margin: 2% 5%;
          }
        }
      }


      & .card_ultra {
        margin: 10% 5%;
        height: 65vh;
        width: 55vh;
        justify-content: center;
        align-items: center;
        border-radius: 10px;

        & .plan {
          text-align: center;
          color: black;
          font-weight: bold;
          font-size: 3em;
          margin: 8%;
          @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
          font-style: italic;
        }

        & .btn-card {
          height: 6vh;
          width: 25vh;
          margin: 5% 25%;
          --border-radius: 10px;
          --background: #032859;
          font-weight: bold;
          font-size: 1.2em;
          color: white;
        }

        & .p {
          display: flex;
          font-size: 1.5em;
          color: black;
          margin: 3%;
          font-weight: bolder;
          align-items: center;

          & img {
            width: 35px;
            margin: 2% 5%;
          }
        }
      }
    }
  }

  & .content-calling-students{
    display: flex;
    margin: 10% 0;
    justify-content: center;
    align-items: center;

    & .calling-card{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100vw;
      height: 40vw;

      & .image-container {
        position: relative;
        display: inline-block;
    }
    
    .image-container img {
        display: block;
        width: 100%;
        height: auto;
    }
    
    .image-container::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(3, 40, 89, 0.5);
    }
    

      & .call-card{
        position: absolute;
        width: 80vw;
        height: 20vw;
        --background: linear-gradient(360deg, rgba(3, 40, 89, 1) 90%, rgba(121, 220, 242, 1)  10%);
        background-size: 100% 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        & .title{
          text-align: center;
          margin-top: 3%;
          color: white;
          font-size: 3em;
          font-weight: bold;
        }

        & .p{
          text-align: center;
          margin-top: 3%;
          color: white;
          font-size: 2.5em;
        }

        & .btn-matricula{
          // display: flex;
          width: 20%;
          height: 20%;
          font-size: 1.5em;
          font-weight: bold;
          // align-items: center;
          // text-align: center;
          --background: #79DCF2;
          color: black;
          margin: 5% 0;
        }
      }
    }
    
  }

  & .content-calling-people {
    margin-top: 100px;
    background-color: #032859;
    height: 800px;

    & .text {
      width: 200px;

      & .text-calling-people {
        margin: 100px 30px 30px 30px;
        font-size: 2.5em;
        color: #fff;
      }
    }

    & .img {
      & .background-color-img {
        margin-top: 150px;
        margin-left: 100px;
        width: 600px;
        height: 400px;
        background-color: #79DCF2;

        & img {
          margin-left: 25px;
          margin-top: 15px;
          ;
          width: 550px;
          border-radius: 5px;
        }
      }
    }
  }

  // Crie o outro conteudo em baixo desse comentatio, cuidado quebrar o css dnv
  & .content-calling-teachers {
    margin-top: 150px;

    & .texts {
      margin-top: 50px;
      ;

      & h1 {
        font-size: 5em;
        color: #032859;
      }

      & p {
        margin-top: 20px;
        font-size: 1.2em;
        font-weight: bold;
      }

      & ion-button {
        margin-top: 20px;
        font-size: 2em;
        background-color: #79DCF2;
        color: black;
        text-transform: capitalize;
      }
    }

    & .img {
      margin-left: 90px;

      & .background-color-img {
        width: 630px;
        height: 450px;
        background-color: #79DCF2;

        & img {
          margin-left: 20px;
          margin-top: 30px;
          width: 590px;
          border-radius: 5px;
        }
      }
    }
  }
}

.bottom-side {
  background-color: #032859;
  margin-top: 300px;
  height: 200px;

  & .footer-content {
    margin-left: 150px;
    width: 100%;

    & h2 {
      margin-top: 30px;
      color: white;
      font-size: 2em;
    }

    & a {
      & p {
        color: #595959;
        font-size: 1.3em
      }
    }
  }

  & .footer-direct {
    margin-top: 20px;

    & p {
      font-size: 1.2em;
      color: white;
    }
  }
}