* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.top-side {
  background: linear-gradient(to right, #fff 50%, #032859 50%);
  height: 100vh;

  .header {
    margin-top: 20px;

    & img {
      margin-left: 50px;
      margin-right: 20px;
    }

    & ion-button {
      margin-left: 80px;
      font-size: 1em;
    }

    & .button-open {
      background-color: #79DCF2;
      border-radius: 15px;
      color: black;
      font-weight: bold;
    }
  }

  & .content-in-topside {
    & .text-in-top-side {
      margin-left: 140px;

      & h1 {
        font-size: 4em;
      }

      & p {
        margin-top: 20px;
        font-size: 1.4em;
        font-weight: bold;
      }

      & .button-in-top-side {
        margin-top: 30px;
        font-size: 1.5em;
        margin-left: 100px;
      }
    }
    // & .img-top-side{
    //   & img{ 
      
    //   }
    // }
  }
}

.mid-side {
  & .fundo {
    display: flex;
    background: #032859;
    margin: 5%; 
    & .card_matricula {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 15vh;

      & .card {
        margin: 8vh 10vh 0 ;
        width: 40vh;
        height: 50vh;

        & .plano {
          text-align: center;
          margin: 5vh 0;
          color: black;
          font: 700;
          font-size: 3.5em;
        }

        & .btn-card {
          display: flex;
          width: 20vh;
          height: 5vh;
          margin: 8vh 10vh;
          border-radius: 10px;
          --background: #032859;
        }

        & .desc {
          display: flex;
          margin: 2vh 4vh;
          font-size: 2em;
          color: black;
        }
      }
    }
  }
  & .card_ultra {
    width: 40vh;
    height: 50vh;

    & .plano {
      text-align: center;
      margin: 5vh 0;
      color: black;
      font: 700;
      font-size: 3.5em;
    }

    & .btn-card {
      display: flex;
      width: 20vh;
      height: 5vh;
      margin: 8vh 10vh;
      border-radius: 10px;
      --background: #032859;
    }

    & .desc {
      display: flex;
      margin: 2vh 4vh;
      font-size: 2em;
      color: black;
    }
  }
  & .content-calling-people {
    margin-top: 100px;
    background-color: #032859;
    height: 800px;

    & .text {
      width: 200px;
      & .text-calling-people {
        margin: 100px 30px 30px 30px;
        font-size: 2.5em;
        color: #fff;
      }
    }

    & .img {
      & .background-color-img {
        margin-top: 150px;
        margin-left: 100px;
        width: 600px;
        height: 400px;
        background-color: #79DCF2;

        & img {
          margin-left: 25px;
          margin-top: 15px;
          ;
          width: 550px;
          border-radius: 5px;
        }
      }
    }
  }
  // Crie o outro conteudo em baixo desse comentatio, cuidado quebrar o css dnv
  & .content-calling-teachers{
    margin-top: 150px;
    & .texts{
      margin-top: 50px;;
      & h1{
        font-size: 5em;
        color: #032859;
      }
      & p{
        margin-top: 20px;
        font-size: 1.2em;
        font-weight: bold;
      }
      & ion-button{
        margin-top: 20px;
        font-size: 2em;
        background-color: #79DCF2;
        color: black;
        text-transform: capitalize;
      }
    }
    & .img {
      margin-left: 90px;
      & .background-color-img {
        width: 630px;
        height: 450px;
        background-color: #79DCF2;

        & img {
          margin-left: 20px;
          margin-top: 30px;
          width: 590px;
          border-radius: 5px;
        }
      }
    }
  } 
}

.bottom-side{
  background-color: #032859;
  margin-top: 300px;
  height: 200px;
  & .footer-content{
    margin-left: 150px;
    width: 100%;
    & h2{
      margin-top: 30px;
      color: white;
      font-size: 2em;
    }
    & a{
      & p{
        color: #595959;
        font-size: 1.3em
      }
    }
  }
  & .footer-direct{
    margin-top: 20px;
    & p{
      font-size: 1.2em;
      color: white;
    }
  }
}
